---
title: Bookshelf
layout: page
exclude: true
---

<p>People sometimes ask me if I know of a good book on a particular technical
    topic. Here are some that I like.</p>

<h2> Statistics and Machine Learning </h2>

<ul class="cv-list">
    {% for stat in site.data.books.stat %}
    <li>
        <h3>{{stat.title}}</h3>
        <div class="item-meta" style="display: flex;">
            <div style="flex: 7;">{{stat.location}}</div>
            <div class="time-container" style="flex: 3;" align="right">
                <time datetime="{{stat.date | date: '%Y-%m'}}">{{ stat.date }}</time>
            </div>
        </div>
        {% if stat.authors != blank %}
            <p>{{ stat.authors }}</p>
        {% endif %}
        {% if stat.description != blank %}
            {{ stat.description | markdownify }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h2> Writing Code </h2>

<ul class="cv-list">
    {% for code in site.data.books.coding %}
    <li>
        <h3>{{code.title}}</h3>
        <div class="item-meta" style="display: flex;">
            <div style="flex: 7;">{{code.location}}</div>
            <div class="time-container" style="flex: 3;" align="right">
                <time datetime="{{code.date | date: '%Y-%m'}}">{{ code.date }}</time>
            </div>
        </div>
        {% if code.authors != blank %}
            <p>{{ code.authors }}</p>
        {% endif %}
        {% if code.description != blank %}
            {{ code.description | markdownify }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

<h2> Neuroscience </h2>

<ul class="cv-list">
    {% for neuro in site.data.books.neuro %}
    <li>
        <h3>{{neuro.title}}</h3>
        <div class="item-meta" style="display: flex;">
            <div style="flex: 7;">{{neuro.location}}</div>
            <div class="time-container" style="flex: 3;" align="right">
                <time datetime="{{neuro.date | date: '%Y-%m'}}">{{ neuro.date }}</time>
            </div>
        </div>
        {% if neuro.authors != blank %}
            <p>{{ neuro.authors }}</p>
        {% endif %}
        {% if neuro.description != blank %}
            {{ neuro.description | markdownify }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

