<ul class="social-media-list">

  <!-- GitHub profile -->
  <li>
    <a rel="me" href="https://github.com/efharkin" title="GitHub profile">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>

  <!-- Stack Overflow profile -->
  <li>
    <a rel="me" href="https://stackoverflow.com/users/13568555" title="Stack Overflow profile">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
      </svg>
    </a>
  </li>

  <!-- LinkedIn profile -->
  <li>
    <a rel="me" href="https://www.linkedin.com/in/efharkin" title="LinkedIn profile">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
  </li>

  <!-- Twitter profile -->
  <li>
    <a rel="me" href="https://twitter.com/efharkin_" title="Twitter profile">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg>
    </a>
  </li>

</ul>
